button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.paginationIconLeft {
    width: 10px;
    height: 14px;
    transform: rotate(180deg);
}

.paginationIconLeft:hover {
    opacity: 0.8;
}

.paginationIconRight {
    width: 10px;
    height: 14px;
}

.paginationIconRight:hover {
    opacity: 0.8;
}

.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
}

.paginationItems {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
    text-decoration: none;
}

.paginationItemsActive {
    border: 1px solid #0064EB;
    background: #0064EB;
    border-radius: 3px;
    padding: 3px;
    color: white;
    text-decoration: none;

}

.paginationInfo {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    margin-right: 16px;
}

@media screen and (min-width: 320px) {
    .paginationWrapper {
        margin: 24px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .paginationInfo {
        font-size: 12px;
        font-weight: 400;
        color: #808080;
        margin-right: 16px;
    }

    .paginationItems {
        font-size: 12px;
        font-weight: 400;
        color: #808080;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .paginationWrapper {
        margin: 12px 0 0 auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .paginationInfo {
        font-size: 16px;
    }

    .paginationItems {
        font-size: 16px;
    }
}
