/*.repoWrapper {*/
/*    margin-top: 29px;*/
/*    padding: 24px 32px;*/
/*    border-radius: 7px;*/
/*    background-color: #ffffff;*/
/*    opacity: 0.8;*/
/*}*/

/*.repoWrapper a {*/
/*    display: block;*/
/*    margin-bottom: 16px;*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    color: #0064EB;*/
/*    cursor: pointer;*/
/*}*/

/*.repoWrapper span {*/
/*    color: black;*/
/*    font-size: 16px;*/
/*    font-weight: 400;*/
/*}*/

@media screen and (min-width: 320px) {
    h2 {
        font-size: 20px;
        text-align: center;
    }

    .repoWrapper {
        margin-bottom: 20px;
        padding: 12px;
        border-radius: 7px;
        background-color: #ffffff;
        opacity: 0.8;
        min-width: 250px;
    }

    .repoWrapper a {
        display: block;
        /*margin-bottom: 16px;*/
        font-size: 14px;
        font-weight: 500;
        color: #0064EB;
        cursor: pointer;
    }

    .repoWrapper span {
        display: block;
        margin: 0;
        padding: 0;
        color: black;
        font-size: 10px;
        font-weight: 400;
    }
}

@media screen and (min-width: 375px) {
    .repoWrapper {
        min-width: 300px;
    }
}

@media screen and (min-width: 425px) {
    .repoWrapper {
        min-width: 350px;
    }
}

@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1440px) {

}