.initContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
    width: 210px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translateY(-50%);*/
    /*transform: translateX(-50%);*/
    transform: translate(-50%, -50%);
}

span {
    color: #808080;
    font-size: 22px;
    font-weight: 300;
    line-height: 31px;
}