a {
    text-decoration: none;
    color: #0064EB;
}

a:hover {
    text-decoration: underline;
}

.mainContent {
    display: flex;
    /*padding: 28px 56px;*/
    /*height: 100%;*/
}

.contentLeft {
    display: flex;
    flex-direction: column;
    /*width: 30%;*/
}

.contentLeft_image {
    width: 280px;
    height: 280px;
    border-radius: 100%;
}

.contentLeft_name {
    margin: 28px 0 0 0;
    font-size: 26px;
    font-weight: 600;
    color: #000000;
}

.contentLeft_login {
    margin: 12px 0 0 0;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.subscriptionBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 25px;
}

.followers {
    display: flex;
    align-items: center;
}

.followers span {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 8px;
}

.following {
    display: flex;
    align-items: center;
}

.following span {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 8px;
}

.icon {
    width: 24px;
    height: 24px;
}

/*.contentRight {*/
/*    width: 70%;*/
/*}*/

@media screen and (min-width: 320px) {
    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }

    .contentLeft_image {
        width: 200px;
        height: 200px;
    }

    .contentLeft_name {
        margin: 15px 0 0 0;
        text-align: center;
    }

    .contentLeft_login {
        text-align: center;
    }

    .subscriptionBlock {
        margin: 20px 0 0 auto;
    }

    .followers span {
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        margin-left: 8px;
    }

    .following span {
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        margin-left: 8px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .contentRight {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 375px) {

}

@media screen and (min-width: 425px) {

}

@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1440px) {

}